/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControlaWSREST/nbproject/private/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControlaWSREST/build/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControlaWSREST/dist/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControleWEBServiceREST/nbproject/private/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControleWEBServiceREST/build/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControla_WS_REST/nbproject/private/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControla_WS_REST/build/
/DESENVOLVIMENTO/SeControleWEBServiceREST/SeControla_WS_REST/dist/
/DESENVOLVIMENTO/SeControlaWEB/.idea/codeStyles/
/DESENVOLVIMENTO/SeControlaWEB/.idea/workspace.xml
/DESENVOLVIMENTO/SeControlaWEB/.idea/*.xml
/DESENVOLVIMENTO/SeControlaWEB/.idea/codeStyles/Project.xml
/gson
**/out/
DESENVOLVIMENTO/SeControlaWEB/.idea/codeStyles/Project.xml
DESENVOLVIMENTO/SeControlaFasePng/.gradle
DESENVOLVIMENTO/SeControlaFasePng/.idea
DESENVOLVIMENTO/SeControlaFasePng/*.iml
DESENVOLVIMENTO/SeControlaFasePng/local.properties
DESENVOLVIMENTO/SeControlaFasePng/.*DS_Store
DESENVOLVIMENTO/SeControlaFasePng/build
DESENVOLVIMENTO/SeControlaFasePng/captures
DESENVOLVIMENTO/SeControlaFasePng/*.externalNativeBuild
